/.settings
/archived-variant-data
/archives
/cache
/csv
/csv-bool
/html/mark*
/html/js/jquery*
/html/js/model*
/input
/object/*.pyc
/output
/server/*.pyc
/static/js/jquery*
/static/layers
/static/stats
/utility/*.pyc
/variant-data
.project
.pydevproject
*Copy*
*.pyc
*.txt
*.pdf
