/.gitignore
/.settings
/archives
/archived-variant-data
/archives-stats
/cache
/csv
/csv-bool
/dicer-results
/finder-results
/html/mark*
/html/js/jquery*
/html/js/model*
/input
/object/*.pyc
/output
/QCA/data
/QCA/inst
/QCA/man
/QCA/src/*.dll
/QCA/src/*.o
/QCA/QCA*.zip
/server/*.pyc
/static/js/jquery*
/static/layers
/static/segments
/static/stats
/utility/*.pyc
/variant-data/_cache
.project
.pydevproject
*Copy*
*.pyc
*.txt
*.pdf
