#header {
}
#title {
  margin-right: 320px;
  font-size: x-large;
  display: inline-block;
}
#messages {
  float: right;
  width: 320px;
  display: inline-block;
}
#sidecol {
  float: left;
  width: 320px;
}
#content {
  margin-left: 320px;
  vertical-align:top;
}
#dirslist {
  height:700px;
  overflow-y: scroll;
}
#qca-div {
  height:800px;
  overflow-y: scroll;
  border-top: 1px solid black;
}
#qca-hdr {
  table-layout: fixed;
  width: 100%;
}
#qca-table {
  table-layout: fixed;
  width: 100%;
}
#kmap-table {
  table-layout: fixed;
}
#container {
  height: 825px;
}
tr.qca {
}
td.id {
  width: 30px;
}
td.ms {
  width: 25px;
}
td.small {
  width: 20px;
}
td.medium {
  width: 45px;
}
td.cases, td.ones {
  background-color: #eeeeee;
}
td.ref-head {
}
td.ref {
  cursor: pointer;
}
td.ref:hover {
  background-color: #eeeeee;
}
td.ref:active {
  background-color: #cccccc;
}
td.kcell {
  font-size: smaller;
  font-family: 'Arial Narrow'
}
div.kmap {
  width: 40px;
  overflow:hidden;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
td.kmap-hdr {
  width: 40px;
  overflow:hidden;
}
td.kmap-cover {
  width: 25px;
  overflow:hidden;
}
div.ref-body {
  font-size: smaller;
}
div.ref-hidden {
  display: none;
}
span.expr {
  font-weight: 600;
  color: #c00;
}
.clear {
  clear: both;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
  padding-left: 5px;
}
td {
  text-align: left;
  padding-left: 5px;
  vertical-align:top;
  padding: 0px;
  margin: 0px;
  border: rgba(0,0,255,0.1);
  border-style: solid;
  border-width: 1px;
}
div.accordion {
  background-color: #eee;
  cursor:pointer;
}
div.accordion:hover {
  background-color: #f8f8f8;
}
div.accordion:active {
  background-color: #fff;
}
div.accordion-hidden {
  display: none;
}
div.ms-heading {
  font-size: x-large;
  font-family: sans-serif;
}
div.cluster-heading {
  font-size: x-large;
  font-family: sans-serif;
  padding-top: 20px;
}
div.cluster-subheading {
  font-size: x-small;
  font-family: sans-serif;
  padding-top: 10px;
}
div.distrib-container {
  width: 100%;
}
div.clust-occurs {
  float: left;
  padding-right: 20px;
}
td.cluster-witness{
  font-size: small;
}
div.cluster-reading {
  font-size: small;
}
div.layer1 {
  background-color: #ffccd6;
}
div.layer2 {
  background-color: #fff599;
}
div.layer3 {
  background-color: #bfa;
}
div.layer4 {
  background-color: #dbf;
}
div.d-layer1 {
  background-color: #fff;
}
div.d-layer2 {
  background-color: #dbf;
}
div.d-layer3 {
  background-color: #ff6;
}
div.d-layer4 {
  background-color: #66b3ff;
}
a.disable-link {
  pointer-events: none;
}
ul {
  list-style: none;
  padding-left: 0px;
  padding-top: 0px;
}
ul.list2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
ul.list3 {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
ul.list4 {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}
ul.list5 {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
}
ul.list6 {
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
}
img {
  max-width: 100%;
  height: auto;
}
td.dontcare {
  background-color: #efe8d8;
}
tr.VL1 {
  background-color: #47d147;
}
tr.VL2 {
  background-color: #47d147;
}
tr.VL3 {
  background-color: #47d147;
}
tr.VL4 {
  background-color: #47d147;
}
tr.VL5 {
  background-color: #47d147;
}
tr.VL6 {
  background-color: #47d147;
}
tr.VL8 {
  background-color: #47d147;
}
tr.VL10 {
  background-color: #47d147;
}
tr.VL14 {
  background-color: #47d147;
}
tr.vg {
  background-color: #47d147;
}
tr.X01, td.X01 {
  background-color: #d9b3ff;
}
tr.X03, td.X03 {
  background-color: #d9b3ff;
}
tr.X05, td.X05 {
  background-color: #47d147;
}
tr.X032, td.X032 {
  background-color: #66b3ff;
}
tr.X038, td.X038 {
  background-color: #ff6;
}
tr.X043, td.X043 {
  background-color: #fff;
}
tr.X28, td.X28 {
  background-color: #d9b38c;
}
tr.X35, td.X35 {
  background-color: #ff4d4d;
}
tr.X79, td.X79 {
  background-color: #b3ff66;
}
tr.X348 {
  background-color: #fff;
}
tr.X427 {
  background-color: #fff;
}
tr.X565, td.X565 {
  background-color: #fcf;
}
tr.X700, td.X700 {
  background-color: #e6e600;
}
tr.X788, td.X788 {
  background-color: #fc6;
}
tr.X892, td.X892 {
  background-color: #d9b3ff;
}
tr.X1241 {
  background-color: #fff;
}
tr.X1337 {
  background-color: #fff;
}
tr.X1342 {
  background-color: #fff;
}
tr.X1424 {
  background-color: #fff;
}
tr.X2542 {
  background-color: #fff;
}
td.c56 {
  background-color: #fcf;
}
td.c79 {
  background-color: #b3ff66;
}
td.f03 {
  background-color: #d9b3ff;
}
td.f1 {
  background-color: #ebadd5;
}
td.f13 {
  background-color: #fc6;
}
td.AF {
  background-color: #80ffd4;
}
td.EU {
  background-color: #9fff80;
}
td.IT {
  background-color: #84e184;
}
td.VL {
  background-color: #84e184;
}
td.vg {
  background-color: #b3ffe6;
}
div.kmap-pos, td.kmap-pos {
  background-color: #e0e0e0;
}
div.kmap-neg, td.kmap-neg {
  background-color: #ffe0e0;
}
div.kmap-conflict, td.kmap-conflict {
  background-color: #ffffd0;
}
