$def with (res)
$code
$for clust in res['clusters']:
    <div class='cluster-heading'>Merged Cluster $loop.index ($clust['size'])</div>
    $for reading in clust['readings']:
        <div class='cluster-reading layer$reading["layer"]'>$reading['languageCode'] $reading['description']</div>
<div class='cluster-heading'>Merged Cluster Summary</div>
<table>
  <tr>
    <th>Index</th><th>Size</th>
  </tr>
$for clust in res['clusters']:
    <tr>
      <td>$loop.index</td>
      <td>$clust['size']</td>
    </tr>
</table>
