$def with (res)
$code
    layerPrefix = 'layer'
    if res['languageCode'] == 'D':
        layerPrefix = 'd-layer'
    readingsTotal = 0
    for clust in res['clusters']:
        readingsTotal = readingsTotal + int(clust['size'])
$for clust in res['clusters']:
    <div class='cluster-heading'>Cluster $loop.index ($clust['size'] of $readingsTotal)</div>
    $for reading in clust['readings']:
        <div class='cluster-reading $layerPrefix$reading["layer"]'>$reading['fit'] N$reading['neighbor'] $reading['description']</div>
<div class='cluster-heading'>Cluster Summary</div>
<table>
  <tr>
    <th>Index</th><th>Size</th><th>Max Diss</th><th>Avg Diss</th><th>Diameter</th><th>Separation</th>
  </tr>
$for clust in res['clusters']:
    <tr>
      <td>$loop.index</td>
      <td>$clust['size']</td>
      <td>$clust['max-diss']</td>
      <td>$clust['avg-diss']</td>
      <td>$clust['diameter']</td>
      <td>$clust['separation']</td>
    </tr>
</table>
