$def with (args)
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Textual Layers Analysis</title>
  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="static/js/jquery-3.2.1.js"></script>
  <script src="static/js/controller.js"></script>
  <script src="static/js/Chart.js"></script>
<body>

  <div id='container'>
    <div id='header'>
      <div id='title'>Textual Layers Analysis Dashboard</div><div id='messages'></div>
    </div>
    <div id='sidecol'>
      <ul class='list2'>
        <li>Chapter 
          <select id='inputrange'>
          $for key in args['config'].get('ranges'):
              <option value='$key'>$key</option>
          </select>
        </li>
        <li>QCASet
          <select id='qcaset'>
          $for qcaset in args['config'].get('qcaSets'):
              <option value='$qcaset'>$qcaset</option>
          </select>
        </li>
      </ul>
      <ul class='list3'>
        $for ms in args['config'].get('referenceMSS'):
            <li><input id='refms$ms' type='checkbox' value='$ms'> $ms
      </ul>
      <ul>
        <li>
          <ul class='list3'>
            <li><a id='canalyze' href='javascript:DSS.clustAnalyze()'>ClustRun</a></li>
            <li><a id='banalyze' href='javascript:DSS.boolAnalyze()'>BoolRun</a>
            </li>
            <li><a id='multivars' href='javascript:DSS.findVariants()'>MultiVars</a>
            </li>
          </ul>
          <ul class='list3'>
            <li>
              <select id='statsdir'>
              $for dir in args['config'].get('statsDirs'):
                  $code:
                      dirname = re.search(r'\/([a-z]+)\/$', dir).group(1)
                  <option value='$dir'>$dirname</option>
              </select>
            </li>
            <li><a id='switchdir' href='javascript:DSS.switchDir()'>SwitchDir</a></li>
            <li><a id='sview' href='javascript:DSS.viewSegments()'>SegView</a></li>
          </ul>
      <div id='dirslist'>
        <ul>
        $for dir in args['keys']:
            $code:
                subdirs = args['dirs']['directoryMap'][dir]
                isGL = 'false'
                if 'GL' in dir:
                    isGL = 'true'
            <li>
              <div class='accordion' onclick='DSS.accordionClick(event)'>$dir</div>
              $if loop.index == 1:
                  <div class='accordion-body'>
              $else:
                  <div class='accordion-body accordion-hidden'>
              <ul class='list6'>
              $for subdir in subdirs:
                  $code:
                      label = subdir + 'cl'
                  <li><a href='javascript:DSS.viewClusterPlot("$dir", "$subdir", "clusters w layers", "Clusters", $isGL)'>$label</a></li>
              </ul>
              <ul class='list6'>
              $for subdir in subdirs:
                  $code:
                      label = subdir + 'gr'
                  <li><a href='javascript:DSS.viewClusterPlot("$dir", "$subdir", "clusters by Greek Witness", "Clusters")'>$label</a></li>
              </ul>
              <ul class='list6'>
              $for subdir in subdirs:
                  $code:
                      label = subdir + 'la'
                  <li><a href='javascript:DSS.viewClusterPlot("$dir", "$subdir", "clusters by Latin Witness", "Clusters")'>$label</a></li>
              </ul>
              <ul class='list6'>
              $for subdir in subdirs:
                  $code:
                      label = subdir + 'mb'
                  <li><a href='javascript:DSS.viewClusterResults("$dir", "$subdir", "clustresults")'>$label</a></li>
              </ul>
              <ul class='list6'>
              $for subdir in subdirs:
                  $code:
                      label = subdir + 'wd'
                  <li><a href='javascript:DSS.viewClusterResults("$dir", "$subdir", "witnessdistrib")'>$label</a></li>
              </ul>
              $if 'GL' in dir:
                  <ul class='list5'>
                      <li><a href='javascript:DSS.viewGraphic("$dir", "verse-distrib", "per layer histograms", "Layer Distribution by Verse")'>Hist</a></li>
                      <li><a href='javascript:DSS.viewGraphic("$dir", "verse-distrib", "per layer kernel density", "Layer Distribution by Verse")'>Dens</a></li>
                      <li><a href='javascript:DSS.viewGraphic("$dir", "verse-distrib", "per layer verse barchart - magentas", "Layer Distribution by Verse")'>Bar</a></li>
                      <li><a href='javascript:DSS.viewGraphic("$dir", "verse-distrib", "per layer verse heatmap - reds", "Layer Distribution by Verse")'>Heat</a></li>
                      <li><a href='javascript:DSS.viewGraphic("$dir", "distinctive-distrib", "distinctive agreements by witness", "Distinctive Agreements by Witness")'>Agree</a></li>
                  </ul>
                  <ul class='list2'>
                      <li><a href='javascript:DSS.viewClusterMerge("$dir", "clustmerge")'>CMrg</a></li>
                      <li><a href='javascript:DSS.viewClusterMerge("$dir", "witnessdistribmerge")'>WMrg</a></li>
                  </ul>
              $if 'QCA' in dir:
                  $code:
                      filebase = re.sub(r'^Mark ', '', dir)
                      filebase = re.sub(r'QCA\-[a-zA-Z0-9]+$', '', filebase)
                      prefix = args['prefix']
                  <ul class='list4'>
                      <li><a href='javascript:DSS.viewQCA("$dir", "$prefix" + "$filebase" + "L")'>L</a></li>
                      <li><a href='javascript:DSS.viewQCA("$dir", "$prefix" + "$filebase" + "Dgl")'>Dgl</a></li>
                      <li><a href='javascript:DSS.viewQCA("$dir", "$prefix" + "$filebase" + "D")'>D</a></li>
                      <li><a href='javascript:DSS.viewQCA("$dir", "$prefix" + "$filebase" + "M")'>M</a></li>
                  </ul>
                  <ul class='list4'>
                      <li><a href='javascript:DSS.viewKMap("$dir", "$prefix" + "$filebase" + "L")'>Lmap</a></li>
                      <li><a href='javascript:DSS.viewKMap("$dir", "$prefix" + "$filebase" + "Dgl")'>DGLmap</a></li>
                      <li><a href='javascript:DSS.viewKMap("$dir", "$prefix" + "$filebase" + "D")'>Dmap</a></li>
                      <li><a href='javascript:DSS.viewKMap("$dir", "$prefix" + "$filebase" + "M")'>Mmap</a></li>
                  </ul>
                  <ul class='list4'>
                      <li><a href='javascript:DSS.viewQCA("$dir", "$prefix" + "$filebase" + "L-merge")'>L-mg</a></li>
                      <li><a href='javascript:DSS.viewQCA("$dir", "$prefix" + "$filebase" + "Dgl-merge")'>Dgl-mg</a></li>
                      <li><a href='javascript:DSS.viewQCA("$dir", "$prefix" + "$filebase" + "D-merge")'>D-mg</a></li>
                      <li><a href='javascript:DSS.viewQCA("$dir", "$prefix" + "$filebase" + "M-merge")'>M-mg</a></li>
                  </ul>
              </div>
            </li>
        </ul>
      </div>
    </div> 

    <div id='content'>
      <div>Content</div>
    </div>
    <div class='clear'></div>
  </div>
<script type='text/javascript'>
  DSS.statsdir = '$args["config"].get("statsDirs")[0]';
</script>